@media (min-width: 1200px) {
  /*-------header destop-------*/
  header {
    width: 100%;
    padding-top: 3%;
    margin-bottom: 10%;
  }

  nav {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
  }

  .logo {
    width: 20%;
    margin-top: 0;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding-left: 40rem;
    padding-right: 10rem;
    transition: none;
    background: none;
    top: 0;
  }

  .logIn {
    border-left: solid 0.2rem var(--colorWhite);
    padding-left: 4rem;
  }

  .nav-menu li {
    display: inline-block;
    line-height: 1rem;
    margin: 2rem;
    transition: none;
}
.nav-menu li a {
    font-size: 1.8rem;
}

  /*-----------main--------*/
  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
  .container {
    width: 70%;
    margin-right: 3%;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 10%;
  }

  .principalTitleMain {
    font-size: 7.3rem;
    line-height: 100%;
  }

  .txtThirdMain {
    font-size: 2rem;
    line-height: 120%;
  }
  .buttonMain:hover {
    background-color: var(--colorWhite);
    color: var(--colorGrey);
  }
  
  /* ---------footer---------- */

  footer {
    margin-top: 5%;
  }
  .containerCircle {
    display: none;
  }

  .titleFooter {
    font-size: 3.6rem;
    padding-bottom: 1%;
  }

  .subtitleFooter {
    font-size: 2rem;
    padding-bottom: 2%;
  }

  .buttonFooter {
    border-radius: 3rem;
    font-size: 1.5rem;
    margin-bottom: 2%;
    padding: 1.2% 2%;
    cursor: pointer;
  }
  .buttonFooter:hover {
    background-color: var(--colorGreen);
  
  }
}
