header {
  margin-bottom: 20%;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.logo {
  width: 55%;
  margin-top: 20%;
  align-self: center;
}

.bar-btn {
  margin-right: 5%;
  margin-top: 7%;
  cursor: pointer;
  display: flex;
  padding: 4% 4% 4% 15%;
  background-color: var(--colorGreen);
  border-radius: 5rem;
  justify-content: flex-end;
}

.icono-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.linea {
  width: 1.5rem;
  height: 0.2rem;
  background-color: var(--colorWhite);
}

.linea-corta {
  width: 1.2rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.nav-menu {
  position: fixed;
  width: 100%;
  top: 7%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.5s;
}

.nav-menu li {
  display: none;
  margin: 10% 0;
  transition: all 0.5s;
}

.nav-menu li a {
  color: var(--colorWhite);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 400%;
}

.nav-menu li a:active {
  color: var(--colorGreen);
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: auto;
}

#check:checked ~ .nav-menu li {
  display: block;
}
