/* -----HEADER----- */

header {
    margin-bottom: 5.6rem;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.logo {
    width: 16rem;
    margin-top: 2rem;
    align-self: center;
}

.linea {
    width: 1.5rem;
    height: 0.2rem;
    background-color: var(--colorWhite);
    margin-right: 1.2rem;
}

.linea-corta {
    width: 1.2rem;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.icono-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--colorGreen);
    border-radius: 8rem;
    width: 6.6rem;
    height: 3.1rem;
    align-items: flex-end;
    justify-content: center;
}

.bar-btn {
    font-size: 2.5rem;
    color: var(--colorWhite);
    margin-right: 0.8rem;
    margin-top: 2.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.nav-menu {
    position: fixed;
    width: 100%;
    top: 5.3rem;
    background-color: rgba(0, 0, 0, .50);
    text-align: center;
    transition: all 0.5s;
}

.nav-menu li {
    display: none;
    line-height: 11rem;
    margin: 1rem 0;
    transition: all 0.5s;
}

.nav-menu li a {
    color: var(--colorWhite);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.nav-menu li a:active {
    color: var(--colorGreen);
    transition: 0.3s;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: auto;
}

#check:checked~.nav-menu li {
    display: block;
}
