footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 20%;
}

.containerCircle {
  margin: 30% 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hitCircle {
  padding: 30%;
  border-radius: 100%;
  border: 0.2rem solid #2b2b2d;
  color: #2b2b2d;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4em;
  font-weight: 700;
}

.subtitleFooter {
  padding-bottom: 7%;
}

.buttonFooter {
  padding: 1em 2em;
  border-radius: 2em;
  font-size: 1.5em;
  margin-bottom: 30%;
}
