main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-content: left;
  text-align: left;
  width: 80%;
}

.principalTitleMain {
  font-size: 4.3rem;
  line-height: 120%;
  margin-top: 9.8%;
  font-weight: 800;
  color: var(--colorWhite);
}

.txtThirdMain {
  color: var(--colorGrey);
  margin-top: 1.4em;
  margin-bottom: 2.3em;
}

.buttonMain {
  width: 53%;
  height: 3.6em;
  background-color: var(--colorGreen);
  color: var(--colorWhite);
  font-size: 1.7rem;
  font-weight: 800;
  line-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8em;
}

/*----------circle pad---------*/

.container {
  position: relative;
  width: 95%;
}
.padSound {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
}
.stylepad {
  width: 17%;
  height: 23%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: grab;
}
.stylepad2 {
  width: 22%;
  height: 30%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);
  cursor: grab;
}
.pad1 {
  position: absolute;
  top: 4%;
  left: 2%;
}
.pad2 {
  position: absolute;
  top: 28%;
  left: 8%;
}
.pad3 {
  position: absolute;
  top: 5%;
  left: 80%;
}
.pad4 {
  position: absolute;
  top: 28%;
  left: 74%;
}
.padBombo {
  position: absolute;
  top: 52%;
  left: 15%;
}
.padCrash {
  position: absolute;
  top: 15%;
  left: 26%;
}
.padHithat {
  position: absolute;
  top: 53%;
  left: 63%;
}
.padReoblante {
  position: absolute;
  top: 15%;
  left: 50%;
}
