/* -----MAIN----- */

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    align-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-content: left;
    text-align: left;
    width: 80%;
}

.principalTitle {
    font-size: 4.3rem;
    line-height: 4.7rem;
    margin-top: 9.8%;
}

.thirdTitle {
    color: var(--colorGrey);
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 1.4rem;
    margin-bottom: 2.3rem;
}

.buttonMain {
    width: 53%;
    height: 3.6rem;
    background-color: var(--colorGreen);
    color: var(--colorWhite);
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8rem;
}

.hitCircle {
    height: 19.8rem;
    width: 19.8rem;
    border: 2px solid #2b2b2d;
    color: #2b2b2d;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #131313;
    margin: 9rem 0;
}