header {
  margin-bottom: 15%;
  width: 100vw;
}

nav {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.logo {
  width: 53%;
  margin-top: 10%;
  align-self: center;
}

.bar-btn {
  margin-right: 4%;
  margin-top: 5%;
  cursor: pointer;
  display: flex;
  padding: 3% 4% 3% 11%;
  background-color: var(--colorGreen);
  border-radius: 5em;
  justify-content: flex-end;
}

.icono-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.linea {
  width: 1.8em;
  height: 0.2em;
  background-color: var(--colorWhite);
}

.linea-corta {
  width: 1.2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.nav-menu {
  position: fixed;
  width: 100%;
  top: 7%;
  background-color: rgba(96, 91, 120, 0.8);
  text-align: center;
  transition: all 0.5s;
}

.nav-menu li {
  display: none;
  line-height: 11rem;
  margin: 10% 0;
  transition: all 0.5s;
}

.nav-menu li a {
  color: var(--colorWhite);
  font-weight: 600;
  font-size: 3rem;
  line-height: 400%;
}

.nav-menu li a:active,
.nav-menu li a:hover {
  color: var(--colorGreen);
  transition: 0.3s;
}

#check {
  display: none;
}

#check:checked ~ .nav-menu {
  height: auto;
}

#check:checked ~ .nav-menu li {
  display: block;
}
