@media (min-width: 1200px) {
  /*-------header destop-------*/
  header {
    padding: 3% 10% 5% 10%;
  }

  nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    width: auto;
    padding-top: 0;
  }

  .bar-btn {
    display: none;
  }

  .nav-menu {
    transition: none;
    background: none;
    position: unset;
    width: auto;
    display: flex;
    align-items: center;
    margin-left: 30%;
  }

  .logIn {
    border-left: solid 0.2rem var(--colorWhite);
  }

  .listNav {
    padding: 0 10%;
    transition: none;
  }
  .linkNav {
    font-size: 1.8rem;
    line-height: 100%;
  }
  .singUp {
    color: var(--colorGreen);
  }

  .linkNav:hover {
    color: var(--colorGrey);
    transition: 0.3s;
  }

  /*-----------main--------*/
  main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 10%;
  }
  section {
    padding-top: 0;
    margin-right: 5%;
    align-items: flex-start;
    align-content: flex-start;
  }
  .principalTitleMain {
    font-size: 7.3em;
    line-height: 100%;
  }

  .txtThirdMain {
    font-size: 2em;
    line-height: 120%;
    contain: content;
  }
  .buttonMain:hover {
    background-color: var(--colorWhite);
    color: var(--colorGrey);
  }

  /* ---------footer---------- */

  footer {
    padding-top: 5%;
  }
  .containerCircle {
    display: none;
  }

  .titleFooter {
    font-size: 3.6em;
    padding-bottom: 1%;
  }

  .subtitleFooter {
    font-size: 2em;
    padding-bottom: 2%;
  }

  .buttonFooter {
    margin-bottom: 2%;
    cursor: pointer;
  }
  .buttonFooter:hover {
    background-color: var(--colorGreen);
  }
}
